
#root {
  margin: 0 auto;
  padding: 0 0 2rem;
}

nav {
  -webkit-backdrop-filter: saturate(180%) blur(10px);
  backdrop-filter: saturate(180%) blur(10px);
}

/* TODO: */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
